/*@import './base.css';*/
@import 'tailwindcss';


@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --color-primary: #77a180;

  --color-secondary: #305e42;
  --color-bermuda: #78dcca;
  --font-sans: Inter, sans-serif;

}



body {
  @apply text-gray-800;
}

p {
  padding-top: 10px;
}

h1 {
  font-size: 42px;

}

h2 {
  font-size: 30px;

}

h1 {

}

img {

}
