/*@import './base.css';*/
@import 'tailwindcss';


@tailwind utilities;

@theme {
  --color-primary: #77a180;
  --color-secondary: #305e42;
  --color-bermuda: #78dcca;
  --font-sans: Inter, sans-serif;

}



body {
  @apply text-gray-800;
}

p {
  padding-top: 10px;
}

h1 {
 @apply text-4xl ;

}
@media (max-width: 767px) {
  h1 {
    @apply text-3xl;

  }
}

h2 {
 @apply text-2xl;

}

h1 {

}

img {

}
